.container-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigator {
  padding: 5px 10px 5px 10px;
  background-color: gray;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.navigator.active {
  background-color: black;
}

.root {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}